#body1{
	background-image: url(photos/background.jpg);
}

#nav {
   display: flex;
    height: 117px;
    padding: 1%;
    border-top-width: 16%;
    margin-top: 3%;
    background-color: #fbec18;
    size: 25%;
    opacity: 0.55;
    }

#fd{
    display: flex;
}
    .but{
    	    border: none;
       border-radius: 15%;
    background-color: #2fd014;
    color: white;
    padding: 29px 32px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    }
    .but:hover{
        border: none;
       border-radius: 15%;
    background-color: red;
    color: white;
    padding: 29px 32px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
      animation: shake 0.5s;
  animation-iteration-count: infinite;
    }
    @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

    #logo{
       margin-bottom: -1%;
    margin-left: 59%;
    padding: -51%;
    border-style: none;
    width: 8%;
    }
    #kid{
    margin-left: 42%;
    margin-top: 10%
    }
    #learn{
   margin-top: -25%;
    margin-left: 35%;
    font-family: cursive;
    font-size: 47px;
    color: rebeccapurple;
    }



    #horse{
        width: 23%;
        cursor: pointer;
    }

    #tom{
    margin-left: 9%;
    width: 16%;
    cursor: pointer;
    }

    #elephant{
    margin-left: 16%;
    width: 19%;
    cursor: pointer;
    }

    #firstD{
     margin-top: 5%;
    width: 89%;
    margin-left: 10%;
    }

    #bt1{
    margin-left: 37%;
    margin-top: 12%;
    width: 12%;
    cursor: pointer;
    }
    #x{margin-left: 29%;
    width: 24%;
      animation: mymove 1.5s infinite;
}
@keyframes mymove {
  50% {opacity: 0;}
}
    #dog{
    width: 21%;
    cursor: pointer;
    }
 
   #lion{
        margin-left: 5%;
        cursor: pointer;
   }
    #monkey{
    margin-left: 5%;
    width: 14%;
    cursor: pointer;
    }
    #secondD{
    margin-left: 13%;
    margin-top: 3%;
    }
     #bt2{
    margin-left: 37%;
    margin-top: 12%;
    width: 12%;
    cursor: pointer;
    }

    #cheep{
        width: 24%;
    }
    #bird{
    margin-left: 6%;
    width: 17%;
    cursor: pointer;
    }

    #cock{
    margin-left: 3%;
    width: 20%;
    cursor: pointer;
    }

    #thirdD{
    margin-top: 4%;
    margin-left: 18%;
    }
    #bt3{
    margin-left: 33%;
    margin-top: 12%;
    width: 12%;
    cursor: pointer;
    }

    #loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}